{% extends "base.html" %}
{% load wikitags %}
{% load i18n %}



{%block jquery %}
    $("fieldset.fb_form:last .control-group:last").hide();
    $("fieldset.fb_form input[name*='DELETE']").change(function(){
        var opacity = $(this).is(":checked") ? 0.3 : 1;
        $(this).closest(".control-group").prev().css("opacity", opacity);
    });
    $("a.wiki_delete").click(function(ev){
        ev.preventDefault();
        if(confirm("{% trans "really?" %}")) {
            $(this).siblings("form").submit();
        }
    })
{%endblock jquery %}

{% block css %}
fieldset.fb_form a.fb_show:after {
    content: "{% trans "choose" %}";
}
{% endblock css %}
{%block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}filebrowser/js/AddFileBrowser.js"></script>
{{ form.media }}
{% endblock javascript %}

{% block navigation %}
    {%if page.title %}
    <li><a href="{% url wiki_page page.title %}">{% trans "back" %}</a></li>
    <li>
        <a href="#" class="wiki_delete">{% trans "Delete" %}</a>
        <form action="{% url wiki_delete page.title %}" method="POST" class="hidden">
        {% csrf_token %}
        </form>
    </li>
    {% endif %}
{% endblock navigation %}

{% block contentcontainer %}
<form action="{% url wiki_edit page.title %}" class="wiki-form form-horizontal" method="POST">

    {{ form }}

    <div class="attachments">
        <h4>{% trans "Attachments"%}</h4>
        {{ attachment_formset.management_form.as_p }}
        {% for form in attachment_formset %}
            <fieldset class="fb_form">
            {{ form  }}
            </fieldset>
        {% endfor %}
    </div>

    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "save" %}</button>
    </div>
</form>
{% endblock %}
