{% extends "base.html" %}
{% load i18n %}
{% load highlight_email %}

{% block jquery %}
    $("input.filter").keyup(function() {
        if($(this).val().length >= 2) {
            if($("#filter-invert").prop("checked")) {
                $(".subscriber-entity").show().filter(":contains('"+$(this).val()+"')").hide();
            } else {
                $(".subscriber-entity").hide().filter(":contains('"+$(this).val()+"')").show();
            }
        }
    });

    $("a.email_details_toggle").click(function(event) {
        $(this).parents(".mail").find("div.email-details").toggle();
        event.preventDefault();
    });
    $("div.email-details").toggle();

    $("a.select-subscribers-all").click(function(ev) {
        $("input[name='subscriber']:visible").prop("checked", true);
        ev.preventDefault();
    });
    $("a.select-subscribers-invert").click(function(ev) {
        $("input[name='subscriber']:visible").each(function() {
            $(this).prop("checked", ! $(this).prop("checked"));
        });
        ev.preventDefault();
    });
    $("a.subscriber_delete").click(function(event) {
        if(confirm("{% trans "really?" %}")) {
            $.getJSON($(this).attr("href"), function(json) {
                $("#subscriber-"+json.subscriber_id).remove();
            });
        }
        event.preventDefault();
    });
    $("a.delete-selected-subscribers").click(function(event) {
        if(confirm("{% trans "really?" %}")) {
            var ids = [];
            $("input[name='subscriber']:checked").each(function() {
                ids.push($(this).val());
            });
            console.log(ids);
            $.getJSON("/newsletter/subscriber/"+ids.join()+"/delete/", function(json) {
                for(var i = 0; i < json.subscriber_ids.length; i++) { /* >*/
                    $("#subscriber-"+json.subscriber_ids[i]).remove();
                }
            });
        }
        event.preventDefault();
    });
    $("a.filter-clear").click(function(ev) {
        $("input.filter").val("");
        $(".subscriber-entity").show();
        ev.preventDefault();
    });
    $("a.select-emails-all").click(function(ev) {
        $("input[name='message_id']:visible").prop("checked", true);
        ev.preventDefault();
    });
    $("a.select-emails-unassigned").click(function(ev) {
        $("#unassigned input[name='message_id']:visible").prop("checked", true);
        ev.preventDefault();
    });
    $("a.select-emails-invert").click(function(ev) {
        $("input[name='message_id']:visible").each(function() {
            $(this).prop("checked", ! $(this).prop("checked"));
        });
        ev.preventDefault();
    });
    $("a.delete-selected-mails").click(function(ev) {
        if(confirm("{% trans "really?" %}")) {
            $("form").submit()
        }
        ev.preventDefault();
    });
{% endblock jquery %}


{% block css %}
label {
    display: inline;
}
{% endblock css %}

{% block heading %}
    {% trans "Error Mailbox" %}
{% endblock heading %}

{% block navigation %}
    <li><a href="{% url message_new %}">{% trans "compose message" %}</a></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Mailinglists" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for list in lists %}
                <li><a href="{% url subscribers_list list.id %}">{{ list.name }}</a></li>
            {% endfor %}
        </ul>
    </li>

{% endblock navigation %}


{% block content %}

<form action="{% url delete_error_mails %}" method="POST">{% csrf_token %}

{%if assigned_mails %}
<div class="well">
<h3>{% trans "How to use this page" %}</h3>
<p>{% blocktrans %}This page shows list of e-mails which are returned or rejected by the mail-server of subscribers
(e.g. mailbox is full, account is unknown to server, the e-mail is declared &quot;spam&quot; for some reason, etc.)
or which can't be delivered in the first place (e.g. the server is offline, name is misspelled).
Both can be temporary problems, so it's usually not advisable to delete an subscriber on the first returned e-mail.
When a series of e-mails had been bounced by one subscribers it's safe to assume further sending of e-mails is useless
and one can delete the subscriber.<br />
Some e-mails <a href="#unassigned">can't be related to a subscriber</a>. These e-mails will be shown in a separate list at the end of the page.
{% endblocktrans %}</p>
</div>

<div>
<p class="form-inline"><strong>{% trans "Filter" %}</strong>
    <input type="text" class="filter" /> <input type="checkbox" id="filter-invert" />
    <label for="filter-invert">{% trans "invert" %}</label>
    <a href="#" class="filter-clear btn btn-small">{% trans "clear" %}</a>
</p>

<p><strong>{% trans "Subscribers" %}</strong>
    <a href="#" class="select-subscribers-all btn btn-small">{% trans "select all" %}</a>
    <a href="#" class="select-subscribers-invert btn btn-small">{% trans "invert selection" %}</a>
    <a href="#" class="delete-selected-subscribers btn btn-small">{% trans "delete selected" %}</a>
</p>

<p><strong>{% trans "Emails" %}</strong>
    <a href="#" class="select-emails-all btn btn-small">{% trans "select all" %}</a>
    <a href="#" class="select-emails-invert btn btn-small">{% trans "invert selection" %}</a>
    <a href="#" class="delete-selected-mails btn btn-small">{% trans "delete selected" %}</a>
</p>
</div>

<div class="row-fluid">
        <div class="span4"><strong>{% trans "Subscriber" %}</strong></div>
        <div class="span5"><strong>{% trans "Subject" %}</strong></div>
        <div class="span3"><strong>{% trans "Date" %}</strong></div>
        <hr/>
</div>

{% regroup assigned_mails|dictsort:"subscriber.id" by subscriber as subscriber_list %}
{% for subscriber in subscriber_list %}
<div id="subscriber-{{ subscriber.grouper.id }}" class="subscriber-entity row-fluid">
    <div class="span4 subscriber">
        <input type="checkbox" name="subscriber" value="{{ subscriber.grouper.id }}" id="checkbox-{{ subscriber.grouper.id }}"/>
        <label for="checkbox-{{ subscriber.grouper.id }}">{{ subscriber.grouper.email }}</label><br />
        {{ subscriber.grouper.date|date:"j. n. Y"}}<br />
        <a href="{% url subscriber_delete subscriber.grouper.id %}" class="subscriber_delete">{% trans "delete Subscriber" %}</a>,
        <a href="{% url subscriber subscriber.grouper.id %}">{% trans "edit" %}</a>
    </div>
    <div class="mails span8">
    {% for mail in subscriber.list %}
        <div class="mail row-fluid">
            <div class="span7 email-subject"><input type="checkbox" name="message_id" value="{{ mail.message_id }}" />
                <a href="#" class="email_details_toggle">{{ mail.subject }}</a>,
                <a href="{% url delete_error_mail mail.msg_num %}" class="email_delete">{% trans "delete" %}</a></div>
            <div class="span5 last email-date">{{ mail.date }}</div>

            <div class="span12 last email-details">
                {% trans "Recipient" %}: {{ mail.recipient }}<br />
                {% trans "Sender" %}: {{ mail.sender }}<br />
                {% trans "Body" %}: <pre>{{ mail.body|highlight_email }}</pre>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr/>
</div>
{% endfor %}
{% endif %}

{% if unassigned_mails %}
<div id="unassigned"><a name="unassigned"></a>
<h3>{% trans "Mails not assigned to a subscriber" %}</h3>

<p><strong>{% trans "Emails" %}</strong>
    <a href="#" class="select-emails-unassigned btn btn-small">{% trans "select all unassigned" %}</a>
    <a href="#" class="select-emails-invert btn btn-small">{% trans "invert selection" %}</a>
    <a href="#" class="delete-selected-mails btn btn-small">{% trans "delete selected" %}</a>
</p>

{% regroup unassigned_mails|dictsort:"recipient" by recipient as recipient_list %}

{% for recipient in recipient_list %}
<div class="subscriber-entity row-fluid">
    <div class="span4 subscriber">
        <strong>{{ recipient.grouper }}</strong><br />
    </div>
    <div class="mails span8 last">
    {% for mail in recipient.list %}
        <div class="mail row-fluid">
            <div class="span7 email-subject"><input type="checkbox" name="message_id" value="{{ mail.message_id }}" />
                <a href="#" class="email_details_toggle">{{ mail.subject }}</a>,
                <a href="{% url delete_error_mail mail.msg_num %}" class="email_delete">{% trans "delete" %}</a></div>
            <div class="span5 last email-date">{{ mail.date }}</div>

            <div class="span12 last email-details">
                {% trans "Recipient" %}: {{ mail.recipient }}<br />
                {% trans "Sender" %}: {{ mail.sender }}<br />
                {% trans "Body" %}: <pre>{{ mail.body|highlight_email }}</pre>
            </div>
        </div>
    {% endfor %}
    </div>
    <hr/>
</div>
{% endfor %}
</div>
{% endif %}

</form>
{% endblock content %}
