{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block heading %}
{% if message %}
    {% trans "Message" %} {{ message.subject }}
{% else %}
    {% trans "Compose a Message" %}
{% endif %}
{% endblock heading %}

{% block jquery %}
    $('job-form').submit(function () {
        return confirm("{% trans "Once you create a job for a message, \nyou can't change the message anymore and it will be send \nout to everybody on the selected mailinglist."%}");
    });
    $('#message-form :input').change(function() {
        $('#preview-form :input, #job-form :input').attr("disabled", "disabled");
    });
    $(".fb_form:last p:last").hide();
    $(".collapse").collapse()
{% endblock jquery %}

{% block css %}
fieldset.fb_form a.fb_show:after {
    content: "{% trans "choose" %}";
}
{% endblock css %}

{%block javascript %}
<script type="text/javascript" src="{% static "filebrowser/js/AddFileBrowser.js" %}"></script>
<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
{{ message_form.media }}
{%endblock javascript %}

{% block navigation %}
    {% if message %}
        <li><a href="{% url "message_new" %}">{% trans "compose message" %}</a></li>
    {% endif %}
    <li><a href="{% url "error_mailbox" %}">{% trans "view error mailbox" %}</a></li>
{% endblock navigation %}

{% block content %}

<div class="newsletter accordion" id="compose">
{% if message %}
    <div class="accordion-group">
        <div class="accordion-head">
            <h3 id="preview" data-toggle="collapse" data-target="#preview-collapsible" data-parent="#compose">
                <i class="icon-chevron-right"></i><i class="icon-chevron-down"></i>
                {% trans "Preview" %}
            </h3>
        </div>
        <div id="preview-collapsible" class="collapse accordion-body">
            <dl>
            {% include "newsletter/message_preview.html" %}
            </dl>
            <h4>{% trans "Test-send" %}</h4>
            <form action="{% url "message_preview" message.id %}" method="post" id="preview-form" class="form-horizontal">
                {%  csrf_token  %}
                {{ preview_form|crispy }}

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "send Preview" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% if not message.locked %}
    <div class="accordion-group">
        <div class="accordion-head">
            <h3 id="edit" data-toggle="collapse" data-target="#edit-collapsible" data-parent="#compose">
                <i class="icon-chevron-right"></i><i class="icon-chevron-down"></i>
                {% trans "Edit" %}
            </h3>
        </div>
        <div id="edit-collapsible" class="collapse {% if message %}in {% endif %}accordion-body">
            <form action={% if message %}"{% url "message" message.id%}" enctype="multipart/form-data"{% else %}"{% url "message_new" %}"{% endif %} method="post" class="newsletter-form form-horizontal" id="message-form">
            {%  csrf_token  %}
                {{ message_form|crispy }}

                <div>
                {% if message %}
                    <h4>{% trans "Attachments"%}</h4>
                    {{ attachment_formset.management_form }}
                    {% for form in attachment_formset %}
                        <fieldset class="fb_form">
                        {{ form|crispy  }}
                        </fieldset>
                    {% endfor %}
                {% else %}
                    <div class="alert alert-info">{% trans "Attachments can be added after the message is saved." %}</div>
                {% endif %}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans "save Message" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endif %}

{% if message %}
    <div class="accordion-group">
        <div class="accordion-head">
            <h3 id="send"data-toggle="collapse" data-target="#send-collapsible" data-parent="#compose">
                <i class="icon-chevron-right"></i><i class="icon-chevron-down"></i>
                {% trans "Send" %}
            </h3>
        </div>
        <div id="send-collapsible" class="collapse in accordion-body">
            {% if message.jobs.all %}
            <ul>
                {% for job in message.jobs.all %}
                    <li>{{ job.to.name }} {{ job.percent_sent }} % {% trans "sent" %}
                    {% if job.active %},
                        <a href="{% url "job" job.id %}">{% trans "status" %}</a>
                    {% else %}, {% trans "finished " %}{{ job.last_delivery }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
            <h4>{% trans "Send Message" %}</h4>
            <form action="{% url "job_new" %}" method="POST" id="job-form" class="form-horizontal">
                {{ job_form|crispy }}
                {% csrf_token %}

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">{% trans "create Job" %}</button>
            </div>
            </form>
        </div>
    </div>
{% endif %}

</div>
{% endblock content %}
