{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block navigation %}
    <li><a href="{% url subscribers_list subscriber.subscription.id %}">{% trans "Subscriber list" %}</a></li>
{% endblock navigation %}

{% block content %}
<form action="{% url subscriber subscriber.id %}" method="post" class="event-form form-horizontal">
{%  csrf_token  %}
    {{ form|crispy }}

    <div class="control-group">
        <div class="control-label">Token</div>
        <div class="controls"><input type="text" disabled="disabled" value="{{ subscriber.token }}"></div>
    </div>

    <div class="form-actions">
        <a class="btn subscriber-delete" href="{% url subscriber_delete subscriber.id %}">{% trans "delete" %}</a>
        <button type="submit" class="btn btn-primary">{% trans "save" %}</button>
    </div>
</form>
{% endblock content %}
