{% extends "base.html" %}
{% load i18n %}
{% load cache %}
{% load calendar %}

{% block heading %}
{% trans "Events" %}
{% endblock heading %}

{% block content %}
{% cache 500 eventlist %}
    <ul>
    {% for event in event_list %}
        <li>{{ event.date|date:"D, j. n. Y" }}
        <a href="{% url "event" event.id %}">{{ event.title }}</a>
        </li>
    {% endfor %}
    </ul>
{% endcache %}
{% endblock content %}

{% block navigation %}
        <li><a href="{% url "event_new" %}">{% trans "add another event" %}</a></li>
{% if not archive %}
    {% if month != date.month %}
        <li><a href="{% url "event_index" %}">{% trans "view current month" %}</a></li>
    {% endif %}
        <li><a href="{% url "event_archive" %}">{% trans "view archive" %}</a></li>
{% endif%}
        <li><a href="{% url "event_ical" %}">{% trans "calendar as ical" %}</a></li>
{% endblock navigation %}
