{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block heading %}
{{ event.title }}
{% endblock heading %}

{% block navigation %}
    <li><a href="{% url "event_edit" event.id %}">{% trans "edit" %}</a></li>
    <li><a href="{% url "event_delete" event.id %}" class="event-delete">{% trans "delete event" %}</a></li>
    <li><a href="{% url "event_new" %}">{% trans "add another event" %}</a></li>
{% endblock navigation %}

{% block content %}
    {% cache 500 event_info event.id %}
    <div class="">
        <p>{% trans "Type" %}: {{ event.type }}</p>
        <p>{{ event.date|date:"D, j. n. Y, H:i" }}</p>
        {% if event.info %}
        <h3>{% trans "Info" %}</h3>
        <p>{{ event.info|safe }}</p>
        {% endif %}
    </div>
    {% endcache %}


    {% cache 500 event_tasks event.id user.id%}
    {% if event.tasks %}
    <div id="tasks" class="">
        <h3>{% trans "Tasks" %}</h3>
        <div class="row-fluid tasks">
        {% for task in event.tasks %}
            <div class="span3 task">
                <h4>{% if task in event.open_tasks %}<i class="icon-warning-sign"></i>{% endif %}
                    {{ task.name }}
                </h4>
            {% for job in event.jobs %}
                {% if task == job.task %}
                    <p><a href="{% url "user_view" job.user.id %}">{{ job.user }}</a>
                    {% if user == job.user %}
                        <a class="btn btn-mini btn-danger" href="{% url "job_delete" event.id job.id %}">{% trans "remove me" %}</a>
                    {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
            {%  if not task.id in user_tasks %}
                {% if task in event.open_tasks or not task.max_persons %}
                <p><a class="btn btn-mini btn-success" href="{% url "job_add" event.id task.id %}">{% trans "add me" %}</a></p>
                {% endif %}
            {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endcache %}

    {% cache 500 event_notes event.id %}
    <div class="">
        <h3>{% trans "Notes" %}</h3>
        {% if event.notes %}
        {% for note in event.notes.all %}
            <blockquote><p>{{ note.note }}</p>
            <small class="meta">{{ note.user }}, {{ note.date|date:"j. n. Y, H:i" }}</small>
            </blockquote>
        {% endfor %}
        </ul>
        {% endif %}
    {% endcache %}
        <form class="form-inline" action="{% url "note_add" event.id %}" method="post">
            {% csrf_token %}
            <input type="text" id="note" name="note">
            <button type="submit" class="btn btn-primary">{% trans "add note" %}</button>
        </form>
    </div>

{% endblock content %}
