{% extends "base.html" %}
{% load wikitags %}
{% load i18n %}

{% block heading %}
	{% trans "Wiki" %}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url wiki_new  %}">{% trans "new page" %}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
	<div id="wiki" class="span-18">
	{% regroup pages by category as category_list %}
	{% for category in category_list %}
	<div id="wiki" class="span-8{% if forloop.counter0|divisibleby:"2" %} clear{% endif %}">
		<h3>{{ category.grouper }}</h3>
		<ul>
			{% for page in category.list %}
			<li><a href="{% url wiki_page page.title %}">{{ page.title|wikifytitle }}</a> <span class="wiki-last-changed">({{ page.last_changed|date:"j. n. Y" }})</span></li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}
	</div>
{% endblock %}
