{% extends "base.html" %}
{% load wikitags %}
{% load i18n %}

{% block heading %}
{{ page.title|wikifytitle }}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url wiki_edit page.title %}">{% trans "edit" %}</a></li>
		<li><a href="{% url wiki_index %}">{% trans "Wiki Index" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
{% if perms.newsletter.add_subscriber %}
		<li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
{% endif%}
	</ul>
{% endblock navigation %}

{% block content %}
	<div id="wiki">
		<div id="wiki-content" class="span-12">
		{{ page.content_html|safe }}
		</div>
		<div id="wiki-meta" class="span-6 last">
			<p>{% blocktrans with page.author as author and page.last_changed|date:"D, j. n. Y, H:i" as last_changed%}
			last edited by {{ author }}, <br /> {{ last_changed }}.
			{% endblocktrans %}</p>
			<p>{% blocktrans with page.title as title%}Wiki-link to this page: <code>[[{{ title }}]]</code>{% endblocktrans %}</p>
			<p><a href="{% url wiki_edit page.title %}">{% trans "edit" %}</a></p>
		</div>
	</div>

{% endblock %}
