{% load i18n %}
{% load add_linefeed %}
{% trans "Hello!" %}
{% trans "There are open tasks:" %}

{% for event in events %}
* {{ event.date|date:"D, j. n. Y, H:i" }} - {{ event.title }}
	{{ site_url }}{% url event event.id %}
	{% for task in event.tasks %}
	- {{ task.name }}: {% for job in event.jobs %}{% if task == job.task %}{{ job.user }} {% endif %}{% endfor %}{% if task in event.open_tasks %}???{% endif %}{% endfor %}

	{% trans "Info" %}:
		{{ event.info|add_linefeed:2 }}
	{% if event.notes %}
	{% trans "Notes" %}:{% for note in event.notes.all %}
		- {{ note.user }}: {{ note.note }}{% endfor %}{% endif %}

{% endfor %}

{% trans "Thanks for your kind attention :)" %}
