{% load i18n %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Sub-Koordinator{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" media="screen" title="default" href="{{ STATIC_URL }}style/style.css">

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#messages").delay(5000).fadeOut("slow");
        $("a[class*='-delete']").click(function(){
            return confirm("{% trans "really?" %}");
        });
        var app = window.location.pathname.split("/")[1];
        $(".navbar a[href*='"+app+"']").closest("li").addClass("active");
        {%block jquery %}{%endblock jquery %}
    });
    </script>

    {%block javascript %}{%endblock javascript %}<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
    {% block css %}{% endblock css %}
    </style>

</head>

<body>



<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">


            {% if user.is_authenticated %}
                <a class="brand visible-desktop" href="/">{% trans "Sub-Koordinator" %}</a>
                <ul class="nav">
                    <li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
                    <li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
                {% if perms.newsletter.add_subscriber %}
                    <li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
                {% endif%}
                </ul>
            {% else %}
                <a class="brand" href="http://subterrarium.at">Subterrarium</a>
            {% endif %}

            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="nav-collapse">
            <ul class="nav pull-right">
                {% if user.is_superuser %}
                    <li class="pull-right"><a href="/admin">{% trans "admin" %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="pull-right"><a href="{% url user_view user.id %}">{{ user }}</a></li>
                    <li><a class="pull-right" href="{% url logout %}">{% trans "logout" %}</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

{% block message %}
{% if messages %}
<div id="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock message %}

<div class="subnav">
    <ul class="nav nav-pills">
        {% block navigation %}
        {% endblock navigation %}
    </ul>
</div>


<div id="heading" class="">
    <h2>{% block heading %}{% endblock heading %}</h2>
</div>



{% block contentcontainer %}
    <div id="content">
        {% block content %}{% endblock content %}
    </div><!-- /content -->
{% endblock contentcontainer %}


</div> <!-- /container -->
</body>
</html>
