{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block heading %}
{% trans "Users" %}
{% endblock heading %}

{% block content %}
{% cache 500 users %}
    <ul>
    {% for usr in user_list %}
        <li>
        <a href="{% url "user_view" usr.id %}">{{ usr.username }}</a>
        </li>
    {% endfor %}
    </ul>
{% endcache %}
{% endblock content %}


{% block navigation %}
    {% if usr.id != user.id %}
        <li><a href="{% url "user_view" user.id %}">{% trans "view my profile" %}</a></li>
    {% endif %}
        <li><a href="{% url "user_change_password" %}">{% trans "change my password" %}</a></li>
        <li><a href="{% url "user_statistics" %}">{% trans "statistics" %}</a></li>
{% endblock navigation %}
S
