Django==1.5.4
MySQL-python==1.2.4
PIL==1.1.7
South==0.8.2
argparse==1.2.1
dateutils==0.6.6
distribute==0.7.3
django-crispy-forms==1.4.0
django-debug-toolbar==0.9.4
django-filebrowser==3.5.2
django-grappelli==2.4.6
django-tinymce==1.5.1
python-dateutil==2.1
pytz==2013d
six==1.4.1
vobject==0.6.6
wsgiref==0.1.2
