{% extends "base.html" %}
{% load i18n %}

{% block heading %}
{{ user.username }} - {% trans "change password"%}
{% endblock heading %}

{% block content %}
	<form action="{% url user_change_password %}" method="POST">
	{%  csrf_token  %}
	<ul>
		{{ form.as_ul}}
	</ul>
	<input type="submit" />
</form>
{% endblock content %}

{% block navigation %}
	<ul>
		<li><a href="{% url user_list %}">{% trans "list all users" %}</a></li>
		<li><a href="{% url user_view user.id %}">{% trans "view my profile" %}</a></li>
</ul>
{% endblock navigation %}
