{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block heading %}
{{ usr.username }}
{% endblock heading %}

{% block content %}
{% cache 500 users usr.id %}
	<ul>
	{% regroup usr.job_set.all|dictsortreversed:"event.date" by event as job_list %}
	{% for event in job_list %}
		<li>{{ event.grouper.date|date:"D, j. n. Y" }}
		<a href="{% url event event.grouper.id %}">{{ event.grouper.title }}</a>:
		{% for job in event.list %}
			{{ job.task }}{% if not forloop.last %},{% endif %}
		{% endfor %}
		</li>
	{% empty %}
		<li>{%trans "No jobs yet..." %}</li>
	{% endfor %}
	</ul>
{% endcache %}
{% endblock content %}

{% block navigation %}
	<ul>
		<li><a href="{% url user_list %}">{% trans "list all users" %}</a></li>
	{% ifnotequal usr.id user.id %}
		<li><a href="{% url user_view user.id %}">{% trans "view my profile" %}</a></li>
	{% endifnotequal %}
		<li><a href="{% url user_change_password %}">{% trans "change my password" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
		<li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
</ul>
{% endblock navigation %}
