{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form action="{% url user_change_password %}" method="POST">
    {%  csrf_token  %}

    {{ form }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "save" %}</button>
    </div>
</form>
{% endblock content %}

{% block navigation %}
    <li><a href="{% url user_list %}">{% trans "list all users" %}</a></li>
    <li><a href="{% url user_view user.id %}">{% trans "view my profile" %}</a></li>
{% endblock navigation %}
