{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block heading %}
{% trans "statistics" %}
{% if year %}{{ year }}{% endif %}
{% endblock heading %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
{% endblock javascript %}

{% block content %}
{% cache 500 users %}
<table class="table"  >
    <thead>
    <tr>
        <th>{% trans "user"%}</th>
        {% for task in tasks %}
            <th>{{ task.name }}</th>
        {% endfor %}
        <th>{% trans "sum"%}</th>
    </tr>
    </thead>
    <tbody>
    {% for usr in user_list %}
    <tr>
        <td><a href="{% url user_view usr.id %}">{{ usr.username }}</a></td>
        {% for task in tasks %}
            {% for stat in usr.stats %}
                {% if stat.name == task.name %}
                    <td>{{ stat.count }}</td>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <th>{{ usr.stats.sum }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endcache %}
{% endblock content %}


{% block navigation %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "year" %} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            {% for y in years %}
                <li><a href="{% url user_statistics_year y%}">{{ y }}</a></li>
            {% endfor %}
        </ul>
    </li>
    {% if usr.id != user.id %}
        <li><a href="{% url user_view user.id %}">{% trans "view my profile" %}</a></li>
    {% endif %}
        <li><a href="{% url user_change_password %}">{% trans "change my password" %}</a></li>
{% endblock navigation %}
