{% extends "base.html" %}
{% load i18n %}

{%block javascript %}
    <script type="text/javascript">
    if (top.location != self.location) { top.location = self.location.href; }
    </script>
{%endblock javascript %}

{% block content %}
<form method="post" action="{% url login %}">
    {%  csrf_token  %}

    {{ form }}

    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "login" %}</button>
    </div>
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}/{% endif %}">
</form>
{% endblock %}
