{% extends "event/event_form.html" %}
{% load i18n %}

{% block jquery %}
	$("a.event-delete").click(function() {
		return confirm("{% trans "really?" %}");
	});
{% endblock jquery%}

{% block heading %}
{% trans "Edit event" %}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url event event.id %}">{% trans "back" %}</a></li>
		<li><a href="{% url event_delete event.id %}" class="event-delete">{% trans "delete event" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
<form action="{% url event_edit event.id%}" method="post" class="event-form">
{%  csrf_token  %}
<ul>
{{ form.as_ul }}
</ul>


<input type="submit" />
</form>

{% endblock content %}
