{% extends "base.html" %}
{% load i18n %}
{% load cache %}

{% block heading %}
{{ event.title }}
{% endblock heading %}

{% block navigation %}
    <li><a href="{% url event_edit event.id %}">{% trans "edit" %}</a></li>
    <li><a href="{% url event_delete event.id %}" class="event-delete">{% trans "delete event" %}</a></li>
    <li><a href="{% url event_new %}">{% trans "add another event" %}</a></li>
{% endblock navigation %}

{% block content %}
    {% cache 500 event_info event.id %}
    <div class="">
        <p>{% trans "Type" %}: {{ event.type }}</p>
        <p>{{ event.date|date:"D, j. n. Y, H:i" }}</p>
        {% if event.info %}
        <h3>{% trans "Info" %}</h3>
        <p>{{ event.info|safe }}</p>
        {% endif %}
    </div>
    {% endcache %}

<div class="row-fluid">
    {% cache 500 event_tasks event.id user.id%}
    <div class="span6">
        {% if event.tasks %}
        <h3>{% trans "Tasks" %}</h3>
        <ul class="tasks">
        {% for task in event.tasks %}
            <li><span class="{% if task in event.open_tasks %}not-satisfied{% endif %}">{{ task.name }}</span>:
            {% for job in event.jobs %}
                {% if task == job.task %}
                    <a href="{% url user_view job.user.id %}">{{ job.user }}</a>
                    {% if user == job.user %}
                        &lt; <a href="{% url job_delete event.id job.id %}">{% trans "remove me" %}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {%  if not task.id in user_tasks %}
                {% if task in event.open_tasks or not task.max_persons %}
                &gt; <a href="{% url job_add event.id, task.id %}">{% trans "add me" %}</a>
                {% endif %}
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% else %}
        {% trans "No tasks"%}
        {% endif %}
    </div>
    {% endcache %}

    {% cache 500 event_notes event.id %}
    <div class="span6">
        <h3>{% trans "Notes" %}</h3>
        {% if event.notes %}
        <ul class="notes">
        {% for note in event.notes.all %}
            <li>{{ note.note }}<br />
            <span class="meta">{{ note.user }}, {{ note.date|date:"j. n. Y, H:i" }}</span>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endcache %}
        <form class="form-inline" action="{% url note_add event.id %}" method="post">
            {% csrf_token %}
            <input type="text" id="note" name="note">
            <button type="submit" class="btn btn-primary">{% trans "add note" %}</button>
        </form>
    </div>

</div>
{% endblock content %}
