{% extends "base.html" %}
{% load i18n %}
{% load calendar %}

{% block heading %}
{% trans "Events" %}
{% endblock heading %}

{% block content %}
	<ul>
	{% for event in event_list %}
		<li>{{ event.date|date:"D, j. n. Y" }}
		<a href="{% url event event.id %}">{{ event.title }}</a>
		</li>
	{% endfor %}
	</ul>
{% endblock content %}

{% block navigation %}
	<ul>
		<li><a href="{% url event_new %}">{% trans "add another event" %}</a></li>
{% if archive %}
		<li><a href="{% url event_index %}">{% trans "view upcomming events" %}</a></li>
{% else %}
	{% if month != date.month %}
		<li><a href="{% url event_index %}">{% trans "view current month" %}</a></li>
	{% endif %}
		<li><a href="{% url event_archive %}">{% trans "view archive" %}</a></li>
{% endif %}
		<li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
</ul>
{% endblock navigation %}
