{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery-ui-1.8.1.custom.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		if($("#id_date").length > 0) {
			$("#id_date").datepicker({ dateFormat: 'yy-mm-dd' });
			$("#id_date").after('<input id="time" type="text" />');
			$("#time").parent().append('<div class="form-help"><span id="date-help">JJJJ-MM-JJ</span> <span id="time-help">hh:mm</span></div>');
			if($("#id_date").val() != "") {
				var date_time = $("#id_date").val().split(" ");
				$("#id_date").val(date_time[0]);
				var time = date_time[1].split(":");
				$("#time").val(time[0] + ":" + time[1]);
			}
			$("#time").closest("form").submit(function() {
				var time = $("#time").val();
				if(time == "") { time = "12:00"; }
				$("#id_date").val($("#id_date").val() + " " + time).css("width", "150px");
				$("#time").remove();
			});
		}
	});
	</script>
{% endblock javascript %}
