{% load i18n %}
{% load cache %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Sub-Koordinator{% endblock title %}</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{ STATIC_URL }}js/jquery/smoothness/jquery-ui-1.8.7.custom.css" >
    <link rel="stylesheet" type="text/css" media="screen" title="default" href="{{ STATIC_URL }}style/style.css" />

    <!-- JavaScript -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#messages").delay(5000).fadeOut("slow");
        $("a[class*='delete']").click(function(){
            return confirm("{% trans "really?" %}");
        });
        var app = window.location.pathname.split("/")[1];
        $(".navbar a[href*='"+app+"']").closest("li").addClass("active");
        {%block jquery %}{%endblock jquery %}
    });
    </script>
    {%block javascript %}{%endblock javascript %}

    <style>
    {% block css %}{% endblock css %}
    </style>

</head>

<body>


<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">{% trans "Sub-Koordinator" %}</a>
            {% if user.is_authenticated %}
                <ul class="nav">
                    <li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
                    <li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
                {% if perms.newsletter.add_subscriber %}
                    <li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
                {% endif%}
                </ul>
            {% endif %}
            <ul class="nav pull-right">
                {% if user.is_superuser %}
                    <li><a href="/admin">{% trans "admin" %}</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url user_view user.id %}">{{ user }}</a></li>
                <li><a href="{% url logout %}">{% trans "logout" %}</a></li>
                {% else %}
                <li><a href="{% url login %}">{% trans "login" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">

{% block message %}
{% if messages %}
<div id="messages">
    {% for message in messages %}
    <div class="alert {{ message.tags }}">
        <button class="close" data-dismiss="alert">×</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock message %}

<div class="subnav">
    <ul class="nav nav-pills">
        {% block navigation %}
        {% endblock navigation %}
    </ul>
</div>


<div id="heading" class="">
    <h2>{% block heading %}{% endblock heading %}</h2>
</div>



{% block contentcontainer %}
    <div id="content">
        {% block content %}{% endblock content %}
    </div><!-- /content -->
{% endblock contentcontainer %}


</div> <!-- /container -->
</body>
</html>
