{% extends "base.html" %}
{% load i18n %}
{% load highlight_email %}

{% block jquery %}
	$("a.subscriber-delete").click(function() {
		if(confirm("{% trans "really?" %}")) {
			$.getJSON($(this).attr("href"), function(json) {
				$("#subscriber-"+json.subscriber_id).remove();
			});
		}
		return false;
	});
	$("a.hide_unmatched").click(function() {
		$("div.subscriber-unmatched").toggle();
	});
	$("a.hide_bodies").click(function() {
		$("li.body").toggle();
	});

{% endblock jquery%}

{% block heading %}
	{% trans "Error Mailbox" %}
{% endblock heading %}


{% block content %}

{%if mails %}
<ul>
	<li><a href="#" class="hide_unmatched">{% trans "hide/show messages which are not matched by a subscriber"%}</li>
	<li><a href="#" class="hide_bodies">{% trans "hide/show message bodies"%}</a></li>
	{%if all_subscribers_ids %}
	<li><a href="{% url subscribers_delete all_subscribers_ids %}">
		{% trans "delete all subscribers with bounced messages" %}</a>
		{% trans "(all matched subscriptions listed on this page)" %}
	</li>{% endif %}
	<li><a href="{% url empty_error_mailbox %}">{% trans "empty error mailbox" %}</a></li>
</ul>
{% endif %}

{% for mail in mails%}
<div class="subscriber-{% if mail.subscriber %}matched{% else %}unmatched{% endif %}">
	<ul>
		<li>{% trans "Subject" %}: {{ mail.subject }}</li>
		<li>{% trans "Sender" %}: {{ mail.sender }}</li>
		<li>{% trans "Recipient" %}: {{ mail.recipient }}</li>
		{% if mail.subscriber %}<li id="subscriber-{{mail.subscriber.id}}">{% trans "Subscriber" %}: <a href="{% url subscriber mail.subscriber.id %}">{{ mail.subscriber }}</a>,
		<a href="{% url subscriber_delete mail.subscriber.id %}" class="subscriber-delete" id="subscriber-delete-{{mail.subscriber.id}}">{% trans "delete" %}</a>
		</li>{% endif %}
		<li class="body">{% trans "Body" %}: <pre>{{ mail.body|highlight_email }}</pre></li>
	</ul>
	<hr />
</div>
{% empty %}
<p>{% trans "nothing in error mailbox :)"%}</p>
{% endfor %}

{% endblock content %}
