{% extends "base.html" %}
{% load i18n %}

{% block heading %}
{% trans "Newsletter" %}
{% endblock heading %}

{% block content %}
<div class="span-10 newsletter">
	<h3>{% trans "Unsent Messages" %}</h3>
	<ul>
	{% for message in unsent_messages %}
		<li>{{ message.date|date:"D, j. n. Y" }}
		<a href="{% url message message.id %}">{{ message.subject }}</a>
		</li>
	{% empty %}
		<li>{% trans "no unsent messages" %}</li>
	{% endfor %}
	</ul>
	<p>
	<a href="{% url message_archive %}">{% trans "view sent messages" %}</a><br />
	<a href="{% url message_new %}">{% trans "compose message" %}</a>
	</p>

	<h3>{% trans "Recent Jobs" %}</h3>
	<ul>
	{% for job in job_list %}
		<li class="{% if job.active %}active{% endif %}">{{ job.date|date:"D, j. n. Y" }}
		<a href="{% url job job.id %}">{{ job.message.subject }} {% trans "to" %} {{ job.to.name }}</a>
		</li>
	{% endfor %}
	</ul>
	<p>
	<a href="{% url job_archive %}">{% trans "view finished jobs" %}</a><br />
	<a href="{% url job_new %}">{% trans "send message" %}</a>
	</p>

</div>
<div class="span-8 last">
	<h3>{% trans "Mailinglists" %}</h3>
	<ul>
	{% for list in lists %}
		<li>{{ list.name }}:
		<a href="{% url subscribers_list list.id %}">{% trans "view subscribers" %}</a>,
		<a href="{% url subscribers_add list.id %}">{% trans "add subscribers" %}</a>
		</li>
	{% endfor %}
	</ul>
	<h3>{% trans "Latest Subscribers" %}</h3>
	<ul>
	{% for subscriber in subscribers %}
		<li>{{ subscriber.date|date:"j. n. Y" }}
		<a href="{% url subscriber subscriber.id %}">{{ subscriber.name }}, {{ subscriber.email }}</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endblock content %}

{% block navigation %}
	<ul>
		<li><a href="{% url message_new %}">{% trans "compose message" %}</a></li>
		<li><a href="{% url job_new %}">{% trans "send message" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
		<li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
</ul>
{% endblock navigation %}
