{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block heading %}
{% trans "Sending" %} &quot;{{ job.message.subject }}&quot; {% trans "to" %} {{ job.to.name }}
{% endblock heading %}

{% block content %}
<div class="newsletter">
<h3>{% trans "e-Mail" %}</h3>
<dl>
	<dt>{% trans "To list" %}</dt> <dd>{{ job.to.name }}</dd>
	<dt>{% trans "Sent by" %}</dt> <dd>{{ job.sender }}</dd>
	<dt>{% trans "Date" %}</dt> <dd>{{ job.date }}</dd>
	<dt>Status</dt><dd>
	{% if not job.active %}
		Delivery finished {{ job.last_delivery }}<br />
		{{ job.letters_sent }} {% trans "e-mails sent" %}<br />
	{% else %}
		{% blocktrans with job.letters_total as total and job.letters_sent as sent and job.percent_sent as percentage %}
	{{ sent }} of {{ total }} already sent ({{ percentage }} %){% endblocktrans %}
	{% endif %}</dd>
</dl>
</div>

{% endblock content %}
