{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block heading %}
{% trans "Sending" %} &quot;{{ job.message.subject }}&quot; {% trans "to" %} {{ job.to.name }}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url message_new %}">{% trans "compose message" %}</a></li>
		<li><a href="{% url job_new %}">{% trans "send message" %}</a></li>
		<li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
		<li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
<div class="newsletter">
<h3>{% trans "e-Mail" %}</h3>
<dt>{% trans "To list" %}</dt> <dd>{{ job.to.name }}</dd>
<dt>{% trans "Date" %}</dt> <dd>{{ job.date }}</dd>
<dt>Status</dt><dd>{{ job.letters_sent }} {% trans "e-mails sent" %}<br />
{% if not job.active %}
	Delivery finished {{ job.last_delivery }}
{% else %}
	{{ letters|length }} {% trans "still to send" %}
{% endif %}</dd>
{% with job.message as message %}
	{% include "newsletter/message_preview.html" %}
{% endwith %}

{% if letters %}
{% trans "still sending to" %}
{% for letter in letters %}
	{{ letter.recipient.email }},
{% endfor %}
{% endif %}

</div>

{% endblock content %}
