{% extends "base.html" %}
{% load i18n %}

{% block heading %}
{{ subscriber.email }}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url message_new %}">{% trans "compose message" %}</a></li>
		<li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
		<li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
<form action="{% url job_new %}" method="post" class="event-form">
{%  csrf_token  %}
<ul>
	{{ form.as_ul }}
</ul>

<input type="submit" />
</form>


{% endblock content %}
