{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}

{% block heading %}
{% trans "Job Archive" %}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
<ul>
	{% for job in jobs %}
	<li><a href="{% url job job.id %}">{{ job }}</a> {{ job.date }}</li>
	{% endfor %}
</ul>
{% endblock content %}
