{% extends "base.html" %}
{% load i18n %}

{% block heading %}
{% if message %}
	{% trans "Message" %} {{ message.subject }}
{% else %}
	{% trans "Compose a Message" %}
{% endif %}
{% endblock heading %}

{% block jquery %}
	$('job-form').submit(function () {
		return confirm("{% trans "Once you create a job for a message, \nyou can't change the message anymore and it will be send \nout to everybody on the selected mailinglist."%}");
	});
	$('#message-form :input').change(function() {
		$('#preview-form :input, #job-form :input').attr("disabled", "disabled");
	});
	$(".fb_form:last p:last").hide();
{% endblock jquery %}

{% block css %}
fieldset.fb_form a.fb_show:after {
	content: "{% trans "choose" %}";
}
{% endblock css %}

{%block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}filebrowser/js/AddFileBrowser.js"></script>
{%endblock javascript %}

{% block navigation %}
	<ul>
	{% if message %}
		<li><a href="{% url message_new %}">{% trans "compose message" %}</a></li>
	{% endif %}
	</ul>
{% endblock navigation %}

{% block content %}
{% if message and not message.locked %}
<ol>
	<li><a href="#preview">{% trans "Preview"%}</a></li>
	<li><a href="#edit">{% trans "Edit"%}</a></li>
	<li><a href="#send">{% trans "Send"%}</a></li>
</ol>
{% endif %}
<div class="newsletter">
{% if message %}
<fieldset id="preview">
	<legend>{% trans "Preview" %}</legend>
	<dl>
	{% include "newsletter/message_preview.html" %}
	</dl>
	<h4>{% trans "Test-send" %}</h4>
	<form action="{% url message_preview message.id %}" method="post" id="preview-form">
	{%  csrf_token  %}
	<ul>
	{{ preview_form }}
	</ul>
	<input type="submit" value="{% trans "send Preview" %}" />
	</form>
</fieldset>
{% endif %}

{% if not message.locked %}
<fieldset id="edit">
	<legend>{% trans "Edit" %}</legend>
<form action={% if message %}"{% url message message.id%}" enctype="multipart/form-data"{% else %}"{% url message_new %}"{% endif %} method="post" class="newsletter-form" id="message-form">
{%  csrf_token  %}
	<ul>
		{{ message_form.as_ul }}
	</ul>

	<div>
		<h4>{% trans "Attachments"%}</h4>
		{{ attachment_formset.management_form.as_p }}
		{% for form in attachment_formset %}
		<fieldset class="fb_form">
		{{ form.as_p  }}
		</fieldset>
		{% endfor %}
	</div>
	<input type="submit" class="clear" value="{% trans "save Message" %}" />
</form>
</fieldset>
{% endif %}

{% if message %}
<fieldset id="send">
	<legend>{% trans "Send" %}</legend>
	{% if message.jobs.all %}
	<ul>
		{% for job in message.jobs.all %}
			<li>{{ job.to.name }} {{ job.percent_sent }} % {% trans "sent" %}
			{% if job.active %},
				<a href="{% url job job.id %}">{% trans "status" %}</a>
			{% else %}, {% trans "finished " %}{{ job.last_delivery }}{% endif %}
			</li>
		{% endfor %}
	</ul>
	{% endif %}
	<h4>{% trans "Send Message" %}</h4>
	<form action="{% url job_new %}" method="POST" id="job-form">{{ job_form.as_p}}
	{%  csrf_token  %}
	<input type="submit" value="{% trans "create Job" %}" />
	</form>
</fieldset>
{% endif %}

</div>
{% endblock content %}
