{% extends "base.html" %}
{% load i18n %}

{% block heading %}
{% blocktrans with list.name as name%}Add subscribers to {{ name }}{% endblocktrans %}
{% endblock heading %}

{% block navigation %}
	<ul>
		<li><a href="{% url subscribers_list list.id %}">{% trans "view subscribers" %}</a></li>
		<li><a href="{% url newsletter_index %}">{% trans "Newsletter" %}</a></li>
		<li><a href="{% url event_index %}">{% trans "view events" %}</a></li>
		<li><a href="{% url wiki_index %}">{% trans "Wiki" %}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
<form action="{% url subscribers_add list.id %}" method="post" class="subscribers-form">
{%  csrf_token  %}
{{ formset.management_form }}
<table>
	<tr>
		<th class="span-5">{% trans "e-mail" %}</th>
		<td class="span-5">{% trans "Name (optional)" %}</td>
	</tr>
{% for form in formset.forms %}
	<tr>
		<td class="span-5 required">{{ form.email }}</td>
		<td class="span-5">{{ form.name }}
		<div class="hidden">{{ form.confirmed }}</div>
		</td>
	</tr>
{% endfor %}
</table>


<input type="submit" />
</form>
{% endblock content %}
