{% extends "base.html" %}
{% load i18n %}


{% block heading %}
{{ list.name }} - {% trans "Subscribers" %}
{% endblock heading %}

{% block javascript %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery/jquery.uitablefilter.js"></script>
{% endblock javascript %}

{% block jquery %}
	$("#filter").keyup(function() {
		$.uiTableFilter( $("#subscribers-table"), this.value);
		$("#subscribers-table th").parent("tr").show();
	});
	$("a.subscriber-delete").click(function() {
		if(confirm("{% trans "really?" %}")) {
			$.getJSON($(this).attr("href"), function(json) {
				$("#subscriber-"+json.subscriber_id).remove();
				$("#filter").val("").focus();
				$("#subscribers-table tr").show();
			});
		}
		return false;
	});
{% endblock jquery%}

{% block navigation %}
	<ul>
		<li><a href="{% url subscribers_add list.id %}">{% trans "add subscribers"%}</a></li>
	</ul>
{% endblock navigation %}

{% block content %}
<p>
{{ subscribers|length }} {% trans "Subscribers" %}<br />
<a href="{% url subscriber_add list.id %}">{% trans "public subscription form" %}</a><br>
{% trans "Filter" %}: <input type="text" id="filter" /></p>
<table id="subscribers-table">
	<tr>
		<th>{% trans "e-mail"%}</th>
		<th>{% trans "Name"%}</th>
		<th>{% trans "Date"%}</th>
		<th>{% trans "edit"%}</th>
		<th>{% trans "delete"%}</th>
	</tr>
{% for subscriber in subscribers %}
	<tr id="subscriber-{{ subscriber.id}}">
		<td>{{ subscriber.email }}</td>
		<td>{{ subscriber.name }}</td>
		<td>{{ subscriber.date }}
		<td><a href="{% url subscriber subscriber.id %}">+</a></td>
		<td><a href="{% url subscriber_delete subscriber.id %}" class="subscriber-delete" id="subscriber-delete-{{subscriber.id}}">-</a></td>
	</tr>
{% endfor %}
</table>

{% endblock content %}
