{% extends "base.html" %}
{% load i18n %}

{% block heading %}<h1>{% trans "Cancel Subscription " %}</h1>{% endblock heading %}

{% block content %}
<form action="{% url subscriber_public_delete subscriber.id token %}" method="post">
{%  csrf_token  %}

<p>{% blocktrans with email=subscriber.email_safe subscription=subscriber.subscription.name %}
Do you want to remove address {{ email }}@&hellip; from mailing list <em>{{ subscription }}</em>?
{% endblocktrans %}</p>

<input class="btn btn-primary btn-large" type="submit" value="{% trans "Yes, cancel my subscription!" %}"/>
</form>
{% endblock content %}
